.container
  .logo{style: "width: 50%; margin: 20px auto"}
    = link_to "https://littlecatlabs.herokuapp.com/" do
      = image_tag attachments["logo_handwriting.png"].url


  .col-md-8.col-md-offset-2.mt50
    .panel.panel-success
      .panel-heading{style: "background-color: yellowgreen !important"}
        .panel-title
          %h2.text-center Thanks for signing up.
      .panel-body
        %h3.text-center Keep an eye out for updates in the coming weeks.
        %p
          We are planning on rolling out some great tools to help your cat loose weight.
          We've found that the first step is the ability to monitor your cat's weight. Without that your just guessing.
          We are currently working on a tracking tool where you can enter weights and watch progress.
        %P
          You'll need your own scale to weigh your cat which can be hard since most human scales aren't accurate below 30lbs.
          So we are also building a wireless pet scale. By placing the scale by your cats food it will automatically send us data any time your cat steps on it.

        %h3 Things you can start doing now
        %ul
          %li Don't leave food out all day long (cats tend to eat more than is good for them)
          %li If you have multiple cats feed them seperately so you can control how much they each eat
          %li Schedule times to play with them. Use some kind of toy that will get them running and active
          %li Start measuring out our cats food so you have a baseline for how much they eat.

      .panel-footer
        %h5
        =link_to "Little Cat Labs", "https://littlecatlabs.herokuapp.com/", class: "blue underline text-center"
