#page
  %header#header.site-header
    = render "registration_header"

  %main#main.site-main
    .container
      .col-md-6.col-md-offset-3.mt50
        .panel.panel-success
          .panel-heading
            .panel-title
              %h2.text-center Thanks for Registering
          .panel-body
            %h3.text-center An email is on it's way
            %p.mt50
              In the mean time check out some of our favorite
              %span
                = link_to "cat videos.", "https://www.youtube.com/watch?v=G4Sn91t1V4g&list=PLRJ3wP0JDyti94Op1oLm4fKZEtC_c36NI", class: "underline blue"
              %br
              %small
                (because everyone knows the internet is powered by cat videos)
